<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>

<div id="app">
	<div v-show="text_name">
		<div style="font-size: 100px;">{{text_name}} - {{text_name_full | titleCase}}</div>
		<img :src="'images/'+image_name" style="height: 50%;">
	</div>
	<div v-show="!text_name">
		<h1>Type Any Letter</h1>
	</div>
</div>
<script type="text/javascript">
	var app = new Vue({
		el:'#app',
		data:{
			text_name_full: '',
			text_name: '',
			image_name: ''
		},
		mounted(){
			var vm = this;
			$(document).keypress(function(event){
				var keycode = (event.keyCode ? event.keyCode : event.which);
				vm.keyPressed(keycode);
			});
		},
		filters:{
			titleCase: function(val=''){
				if(val){
					val = val.toLowerCase();
					return val.charAt(0).toUpperCase() + val.slice(1);
				}
				return '';
			}
		},
		methods:{
			keyPressed: function(keycode=null){
				if(keycode){
					var char = String.fromCharCode(keycode);
					var lowerChar = char.toLowerCase();
					var upperChar = char.toUpperCase();
					var mapping = {a:'apple',b:'ball',c:'cat',d:'dog',e:'elephant',f:'fish',g:'grapes',h:'hen',i:'icecream',j:'jug',k:'kite',l:'lion',m:'monkey',n:'nest',o:'orange',p:'parrot',q:'queen',r:'rabbit',s:'sun',t:'tiger',u:'umbrella',v:'van',w:'watch',x:'xmas',y:'yak',z:'zebra'}
					if(mapping[lowerChar] != undefined){
						this.text_name = upperChar;
						this.text_name_full = mapping[lowerChar];
						this.showImage(mapping[lowerChar]+'.png');
					}else{
						this.text_name = '';
						this.text_name_full = '';
					}
				}
			},
			showImage: function(image_name){
				this.image_name = image_name;
			}
		}
	});
</script>